@model IEnumerable<SaborCajabambino.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<div class="main-content-container">

    <h1 class="text-white mb-4">Gestión de Pedidos</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> Registrar Nuevo Pedido
        </a>
    </p>

    <div class="table-responsive-md" style="max-height: 550px; overflow-y: auto;">
        <table class="table table-hover">
            <thead class="sticky-top">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                    <th>@Html.DisplayNameFor(model => model.Hora)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoPedido)</th>
                    <th>Cliente</th>
                    <th>Empleado</th>
                    <th>Mesa</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                        <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                        <td>
                            <span class="badge bg-success">@Html.DisplayFor(modelItem => item.Estado)</span>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.TipoPedido)</td>
                        <td>@($"{item.IdClienteNavigation.Nombres} {item.IdClienteNavigation.ApellidoPaterno}")</td>
                        <td>@Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.NombreCompleto)</td>
                        <td>@Html.DisplayFor(modelItem => item.IdMesaNavigation.IdMesa)</td>
                        <td>
                            <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-id="@item.IdPedido" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                            <a asp-action="Details" class="btn btn-sm btn-secondary" asp-route-id="@item.IdPedido" title="Detalles"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.IdPedido" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>